
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>ĐẶT HÀNG THÀNH CÔNG</h1>
            <p>CẢM ƠN BẠN ĐÃ ĐẶT HÀNG Ở CỬA HÀNG CHÚNG TÔI</p>
        </div>
    </div>
    <div class="back-to-shop container" style="cursor:pointer;">
        <h6> &leftarrow;&nbsp; <span class="text-success" id="btnContinue"> Tiếp tục mua hàng</span></h6>
    </div>
    <script src="~/Assets/client/controller/cartController.js"></script>
</body>
</html>
