@model List<OnlineShop.Areas.Customer.Models.CartItem>

<a class="nav-link" href="/Customer/Cart"><span><i class="fa fa-shopping-cart text-danger" style="font-size: 3em"></i> @Model.Count sản phẩm</span></a>